h1 {text-align: center;
font-family: 'Pangolin',cursive;
color: whitesmoke;
padding: 0;
margin: 0;
background-color: rgb(0, 132, 255);
font-size: 50px;
}

body{
    padding: 0;
    margin: 0;
    background-image:url('background.jpg');
    background-size: 100%;
}
p{
    text-align: center;
    font-family: 'Pangolin',cursive;
    font-size: larger;
    background-color: aliceblue;
    padding: 0;
    margin: 0;
}
